.itching2plunge {
	background-color: aquamarine;
}

#first-para {
	font-family: "Brush Script MT", cursive;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;

}

#poolgif {
	height: 100px;
}

