/*Homepage*/

#index {
  height: 100vh;
}

img.itchlogo {
  filter: invert();
  opacity: 0.5;
  width: 56%;
  padding-top: 3rem;
  display: block;
  float: right;
  margin-right: 2rem;
}

.itching2plunge {
  background-image: url('../images/plungeback.svg') !important;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#first-paragraph {
  font-size: 4rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 2rem;
  color: white;
  line-height: 66%;
  position: absolute;
  letter-spacing: 1rem;
  font-family: sans-serif;
}

#two {
  color: #fccfcc;
  font-size: 3rem;
}

.homepool {
  background-color: transparent;
  height: 250px;
}

.one {
  width: auto;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}

#poolgif {
  height: 100px;
}

.homepage-pool{
  position: relative;
}

img {
  cursor: pointer;
}

/*KLEL*/

#klel {
  background-image: url("../images/gothicbanan1.png");
  background-size: 100%;
  background-color: pink;    
}

#first-para {
  font-size: 40px; 
  text-align: center;
  font-family: cursive;
  color:blue;
  margin-bottom: 0;
}

#first-para:hover {
  color: grey;
}

#second-para {
  margin-top: 3rem;
  font-size: 60px;
  font-family: sans-serif;
  color: aquamarine;
}

#second-para:hover {
  color: yellow;
}

p.klel:hover {
  color: yellow;
}

#chalkimg {
  margin-top: 20%;
}

#chalkimg:hover {
  border-radius: 50%;
}

#baconimg {
  margin-left: 1rem;
  height: 27rem;
}

#baconimg:hover {
  opacity: .5;
}

#spiderimg {
  float:right;
  margin-top: -11rem;
}

#spiderimg:hover {
  float: left;
  height: 350px;
  margin-top: 0;
}

#oyaimg {
  height: 50px;
  margin-top: 2rem;
}

#poolimg {
  margin-top: 7rem;
  margin-bottom: 5rem;
}
