<div class="jquery-ripples" id="index">
	<div class="itching2plunge">
    <img class="itchlogo" src="../images/itching.png"/>
		<div class="row">
      <a href="../klel">
        <div class="large-4 small-6 columns homepool one">
  			</div>
      </a>
      <a href="http://no-mayo.digital/" target="_blank">
        <div class="large-8 small-6 columns homepool">
        </div>
      </a>
		</div>

		<div class="row">
      <a href="../qz">
        <div class="large-4 columns homepool">
        </div>
      </a>
      <a href="../gif">
        <div class="large-4 columns homepool">
        </div>
      </a>
      <a href="http://vibes2.herokuapp.com/" target="_blank">
        <div class="large-4 columns homepool">
        </div>
      </a>
		</div>

		<div class="row">
      <a href="../mobileluv">
        <div class="large-4 small-8 columns homepool">
        </div>
      </a>
      <a href="http://www.itching-to-plunge.com/">
        <div class="large-8 small-4 columns homepool">
        </div>
      </a>
    </div>

	</div>
</div>

