<head>
	<title>itching</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<p id="first-para"> itching 2 plunge </p>
	<img id="poolgif" src="../images/pool.gif">

</body>

