<!DOCTYPE html>
<html>
<head>
	<title>itching</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/foundation.min.css">
	<script src="../javascript/foundation.min.js">
	</script>
	<script src="../javascript/jquery.js">
	</script>
	<script src="../javascript/script.js">
	</script>


</head>
<body>
	<p id="first-para"> itching 2 plunge </p>
	
	<div class="row">
		<div class="large-offset-10 large-2 small-6 columns">
			<img id="poolgif" src="../images/pool.gif">
		</div>
	</div>

	<div class="row">
		<div class="large-offset-1 large-4 small-6 columns">
			<img id="poolgif2" src="../images/pool.gif">
		</div>
	</div>

	<div class="row">
		<div class="large-offset-6 large-6 small-6 columns">
			<img id="poolgif3" src="../images/pool.gif">
		</div>
	</div>

</body>

