<div id="index">
	<div class="itching2plunge">
    <div class="row">
  		<p id="first-paragraph"> itching 2 plunge </p>
		</div>

		<div class="row">
			<div class="large-offset-10 large-2 small-offset-6 small-6 columns">
        <a href="../klel">
  				<img id="poolgif" src="../images/pool.gif">
        </a>
			</div>
		</div>

		<div class="row">
			<div class="large-offset-1 large-3 small-3 small-offset-6 columns">
				<img id="poolgif2" src="../images/pool.gif">
			</div>
		</div>

		<div class="row">
			<div class="large-offset-6 large-6 small-6 columns">
				<img id="poolgif3" src="../images/pool.gif">
			</div>
		</div>
	</div>
</div>

