<div id="klel">
  <p class="klel" id="first-para"> KL EL </p>

  <div class="row top-row">
    <div class="small-3 columns">
      <img id="chalkimg" src="../images/chalk.jpg">
    </div>

    <div class="small-offset-2 small-7 columns">
      <img id="baconimg" src="../images/baconpool.png">
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <p class="klel" id="second-para"> WELCOME <br>
      TO MY WHIRLED </p>
      <p class="klel" id="third-para"> this is my kl website <br>
      all about me </p>
    </div>
    <div class="small-3 columns">
      <img id="oyaimg" src="../images/oyaemoji-01.png">
      <a href="/">
        <img id="poolimg" src="../images/pool.gif">
      </a>
    </div> 
    <div class="small-3 columns">
      <img id="spiderimg" src="../images/BLU-SPIDER.gif">
    </div>
  </div>
  </div>
</div>