<!DOCTYPE html>
<html>
<head>
  <title>  i t c h i n g  2  p l u n g e</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/mobileluv.css">
  <link rel="stylesheet" type="text/css" href="../css/foundation.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Share+Tech+Mono" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link href="../images/favicon.ico" rel="icon" type="image/x-icon"></link>
  <script src="../javascript/foundation.min.js">
  </script>
  <script src="../javascript/jquery.js">
  </script>
  <script src="../javascript/script.js">
  </script>
  <script src="../javascript/jquery.ripples-min.js">
  </script>


</head>
<body>
  <%= yield %>
</body>