<!DOCTYPE html>
<html>
<head>
  <title>itching</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/foundation.min.css">
  <script src="../javascript/foundation.min.js">
  </script>
  <script src="../javascript/jquery.js">
  </script>
  <script src="../javascript/script.js">
  </script>
  <script src="../javascript/jquery.ripples-min.js">
  </script>


</head>
<body>
  <%= yield %>
</body>