<div class="mobile-luv row">
  <h2>m0bile < 3 </h2>

  <p>I was on the bus.
  <br>
  You know when you are sat at the bus and the engine gets you? 
  <br>
  It just starts feeling good.
  <br>
  I licked my lips and looked around the bus for someone or something to make me want it more. <br>
  No-one. I shook out of it and txt my girlfriend.</p>
  <br>
  <p class="text">“HI BABE how r u?” </p>
  <br>

  <p>I hoped this could start something. I pushed my phone againt my cunt waiting for it to vibrate… cmon, gimme that hard fast vibration baby plz I begged to myself. I was getting tense. She wasn’t texting back. The bus was still feeling good, but it wasn’t hard enough.</p>
  <img src="../images/giphy.gif">
  <br>

  <p>I looked at this pocket-sized black rectangle.  I just needed it to relieve me. I imagine how good it would feel to have it inside me. I was longing for the pathetic bitch to fucking call me and give me that deep vibration.</p>

  <p>I was so frustrated.<br>
  By now I was so wet it was getting unbearable.<br>
  I text everyone in my phonebook:</p>
  <br>

  <p class="text">“omg hi, how R U?!”</p>
  <br>
  <p>I sucked my phone and slid it into my pants, right between my lips, the screen push up on my clit.<br>
  The uncontrollable waves of pleasure began. Moisture on the keypad, the screen drenched, lighting up with inanimate names.</p>
  <br>
  <p>The phone started ringing.<br>
  I came, eyes closed, tension-relieving, screaming ‘fuck’. The metallic ringtone + my screams of ecstasy filling the bus.<br>
  I opened my eyes. Shame fuelled my post climatic pleasure. Hand slipping down my trousers, I wiped the phone of my fluid and picked up.</p>

  <p class="text">“oh hey babe!”</p>
  .
</div>