<form action="/qz" method="POST">
    oh hi u <input type="text" name="name">
    <br/>
    what u know bout me, what u what u know bout me <input type="text" name="comment">
    <input type="submit">
</form>